---
import Layout from "../layouts/Layout.astro";

const isNotionApiTokenSet = !!import.meta.env.NOTION_API_TOKEN;
const isNotionDatabaseIdSet = !!import.meta.env.NOTION_DATABASE_ID;
const isWarning = !isNotionApiTokenSet || !isNotionDatabaseIdSet;
---

<Layout title="Welcome to Poltergeist 👻">
  <main class="intro">
    <h1>Poltergeist</h1>
    <img src="/logo.svg" alt="Poltergeist logo" />

    <h2>Checks:</h2>
    <ul>
      <li>
        {
          isNotionApiTokenSet
            ? "✅ NOTION_API_TOKEN set"
            : "❌ NOTION_API_TOKEN not set"
        }
      </li>
      <li>
        {
          isNotionDatabaseIdSet
            ? "✅ NOTION_DATABASE_ID set"
            : "❌ NOTION_DATABASE_ID not set"
        }
      </li>
    </ul>
    {
      isWarning ? (
        <div class="warning">
          <>⚠️</>
          <p>
            Please set the environment variables in <code>.env</code> before
            continuing. Use <code>.env.example</code> for reference.
          </p>
          <p>
            If you don't know how to obtain the tokens, go to
            <code>README.md</code> for instructions.
          </p>
        </div>
      ) : (
        <p>
          You are good to go 👍. Go to{" "}
          <a href="/blog">
            <code>/blog</code>
          </a>{" "}
          to see your posts.
        </p>
      )
    }
  </main>
</Layout>
